
.top-container{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    text-align: center;
    background-color: black;

}
.sroll-tracking-container{
    width: 100%;
    height: 10px;
    background: aquamarine;
}
.current-progress-bar{
    height: 10px;
    background: purple;
  
}